<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>You have created a new post in "<%= @post.topic.name %>"</h1>
        <p>Thank you for your contribution! You have been automatically subscribed to this post and will receive emails when new comments are made on your post.</p>
        <p>If you do not wish to receive comment notifications, please visit your post on Bloccit and click 'Unfavorite'.</p>
        <p>
            <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
        </p>
    </body>
</html>