<h1>About Bloccit</h1>
<h4>Hello! I'm Shaina Karasin. I created Bloccit as a Reddit-style web application 
to learn and practice using Ruby on Rails while studying in <a href="www.bloc.io">Bloc's</a> Software Engineering program. 
Learn more about my work on <a href="http://www.shainakarasin.com">my personal site.</a></h4>
<!--<%= link_to "Find me on LinkedIn!", "https://www.linkedin.com", class: "social-btn"%>-->
    
