<h1>New Post</h1>

<div class="row">
<div class="col-md-4">
 <p>Guidelines for posts:</p>
 <ul>
   <li>Do not post illegal or violent content.</li>
   <li>No spam & no bullying.</li>
   <li>Your post should be relevant to its Topic.</li>
   <li>Tag your post with other relevant labels to help users find it.</li>
 </ul>
</div>
<div class="col-md-8">
   <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
</div>
</div>
