// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #6666ff;
    font-family: Helvetica;
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 40px;
}

h1 {
    font-size: 5rem;
}

.homepage-title {
    color: #0D73B5;
}


.jumbotron {
    background-image: url(https://images.pexels.com/photos/57825/pexels-photo-57825.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.jumbotron-content {
}

